.jumbotron {
    padding: 2rem;
    background-color: #14945C;
    background-repeat: no-repeat;
}

body {
    color: white;
}

.nav-link {
    padding-right: 5em;
    font-weight: bold;
}

.button {
    height: 50em;
}

.card {
    margin-left: 9em;
}
